<h2>Acceder</h2>
<form method='post' action='/login'>
	<div class='field'>
		<label for='login'>Usuario:</label>
		<input type='text' id='login' name='login' size='30' placeholder='Nombre de usuario'/>
	</div>
	<div class='field'>
		<label for='pass'>Contraseña:</label>
		<input type='password' id='pass' name='pass' size='30' placeholder='Contraseña'/>
	</div>
	<div class='actions'>
		<input type='submit' value='Acceder'/>
	</div>
</form>