<div>Añadir comentario</div>
<form method='post' action='/quizes/<%= quizId %>/comments/'>
	<input type='text' id='comment' name='comment[texto]' placeholder='Escribe aquí tu comentario'/>
	<button type='submit'>Enviar</button>
</form>