<form method='get' action='/quizes'>
	<div>Buscar pregunta: 
	<input type='text' name='search' value='Texto de búsqueda' /></div>
	<input type='submit' value='Buscar' />
</form>
<table>
<% for (var i = 0; i < preguntas.length; i++) { %>
	<tr>
		<td>
			<a href='/quizes/<%= preguntas[i].id %>'><%= preguntas[i].pregunta %></a>
		</td>
	</tr>
<% } %>
</table>